<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title class="flex-header">Coronavirus Tracker Application</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Coronavirus Tracker Application</h1>

    <p>This application lists the current number of cases reported across the globe</p>

    <div class="jumbotron">
        <h1 class="display-4"
            th:text="${#numbers.formatInteger(totalReportedCases, 1 ,'WHITESPACE')}">
        </h1>
        <p class="lead">Total cases reported as of today (D/M/YYYY):
            <span th:text="${#temporals.format(dateTime, ' d/M/yyyy, HH:mm:ss')}"></span>
        </p>

        <hr class="my-4">

        <p>
            <span>New cases reported since previous day:</span>
            <span th:text="${#numbers.formatInteger(totalNewCases, 1 ,'WHITESPACE')}"></span>
        </p>
    </div>

    <table class="table table-striped">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total cases reported</th>
            <th>Changes since last day</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${#numbers.formatInteger(locationStat.latestTotalCases, 1 ,'WHITESPACE')}">0</td>
            <td th:text="${#numbers.formatInteger(locationStat.diffFromPrevDay, 1 ,'WHITESPACE')}">0</td>
        </tr>
    </table>

    <div class="container">
        <footer>
            &copy; 2018 Nazar Lelyak.
        </footer>
    </div>
</div>
</body>
</html>